<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2025 KIND Lab. Website layout adapted from <a href="http://www.allanlab.org/">The Allan Lab</a>'s template.</p>

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-5">
		  Contact:<br />
		  University of Georgia <br />
		  Athens, GA <br />
		</div>
		<div class="col-sm-1">	</div>
		<div class="col-sm-2">	
			<div class="footer-visitor-map" style="max-width: 170px; margin-left: auto; text-align: right;">
				<div style="margin-bottom: 4px; font-size: 12px; font-weight: 600; color: #777; text-transform: uppercase;">Visitors</div>
				<div style="display: inline-block; width: 170px; max-width: 100%; min-height: 40px; overflow: hidden;">
					<script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?d=iEKKlLrfnwT_1mKjFxOLbMzjOQbopfjtx5Cp0XFGy5g&cl=ffffff&w=a"></script>
					<noscript>
						<a href="https://mapmyvisitors.com/web/1c7k5" title="Visit tracker">
							<img src="https://mapmyvisitors.com/map.png?d=iEKKlLrfnwT_1mKjFxOLbMzjOQbopfjtx5Cp0XFGy5g&cl=ffffff" alt="Visit tracker" style="max-width: 100%;" />
						</a>
					</noscript>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
